* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw !important;
}


    body{
    background: url(./img/fondo\ casino.jpg);
    width: 100vw !important;
    height: 100vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}


.titulo {
    height: 200px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 20px;
    font-size: 100px;
}

.carta {
    height: 200px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#dealer-cartas, #jugador-cartas {
    height: 250px;
    margin-left: 50px;
}

/*MEDIA QUERIE MOBILE */

@media (max-width: 700px){

     body {
        background-position: -500px center;
        
    }

    .titulo {
        height: 100px;
        padding: 10px;
        font-size: 50px;
    }
}

@media (max-width: 500px) {

    body {
        background-position: -750px center;
        
    }
}